html {
    background-color: lightblue;
}

.header-section {
    background-color: lightblue;
}

.editForm {
    background-color: lightblue;
    padding-top: 20px;
}

.home-section {
    background-color: lightblue;
}

.footer-section {
     background-color: lightblue;
}