.header-section {
    background-color: lightblue;
    color: black;
}

.footer-section {
    background-color: lightblue;
}

.form-section {
    background-color: lightblue;
}

html {
    background-color: lightblue;
}
   
