html {
    background-color: lightblue;
}

.footer-section {
    background-color: lightblue;
}

.form-section {
    background-color: lightblue;
    padding-top: 50px;
}

.button-section {
    background-color: lightblue;
    padding-top: 15px;
}

.payment-form-section {
    background-color: lightblue;
}

.home-section {
    background-color: lightblue;
}

